*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Verdana;
	font-size: 0.8em;
}

/*
 * Common Styles
 */

#header, #main, #footer{
	padding: 20px;
}

#main{
	padding-top: 0px;
	padding-bottom: 0px;
}

#logo{
	font-size: 32px;
    margin-bottom: 50px;
    background-color: chartreuse;
}

#menu{
    list-style: none;
    background-color: black;
	overflow: hidden;
}

#menu li{
	float: left;
}

#menu li a{
	padding: 10px 50px;
	display: block;
	text-decoration: none;
	color: white;	
}
#menu li a{
	font-size: 16px;
    font-weight: bold;
}
#menu li a:hover{
	font-size: 18px;
    font-weight: bold;
    background-color: darkkhaki;
    color: tomato;
}
#menu li:first-child a{
	padding-left: 5px;
}
/*---- Login form ----*/
#login-form,#signup-form{
    width: 50%;
}
.aa-login-form input[type="text"],
.aa-login-form input[type="password"],
.aa-login-form input[type="email"] {
  border: 1px solid #ccc;
  font-size: 12px;
  margin-bottom: 15px;
  margin-left: 60px;
  padding: 5px;
  
}
.aa-login-form label{
    font-size: 18px;
}
.aa-login-form p{
    margin: 10px, 15px;
}
.aa-login-form input[type="submit"]{
  font-size: 14px;
  padding: 8px 15px;
  margin-right: 5px;
  margin-top: 10px;
  float: left;
}
#home{
    list-style-type: none;
    font-size: 16px;
}
#home li{
    margin-top: 15px;
}
#home li a{
    text-decoration: none;
    color: inherit;
}
.product{
    float: left;
    margin-bottom: 20px;
    max-width: 280px;
    padding: 20px;
    text-align: center;
}
#product-101 a{
    text-decoration: none;
    color: inherit;
}
.product .submit{
    background:none;
    border:none;
}
.result{
    width: 800px;
    border: 2px solid black;
    margin-left: 20%;
    margin-top: 2%;
    height: 550px;
    font-size: 30px;
}
table{
    margin-top: 15px;
    margin-left: 5px;
    text-align: center;
    font-size: 15px;
}
td{
    padding: 20px;
}
#next,#prev{
    font-size: 20px;
    padding: 8px;
    margin-left: 30px;
    margin-top: 10%;
    text-decoration: none;
    color: inherit;
    background-color: lightcoral;
    border: 2px solid black;
}
#prev{
    float: left;
}
#next{
    float: right;
    margin-right: 30px;
}
#button{
    margin-right: 20px;
    margin-top: 10px;
    float: right;
}
#button input[type="submit"]{
    padding: 5px;
    font-size: 16px;
    background-color: teal;
    color: white;
    z-index: 1;
}
#button input[type="submit"]:hover{
    font-size: 18px;
}
.add{
    margin: 20px;
}
.add input[type="text"]{
    margin: 10px;
}
.add input[type="submit"]{
    padding: 5px 20px;
}
.sub{
    font-size: 25px;
    text-align: center;
    background-color: turquoise;
}
h3{
    font-size: 16px;
    text-align: center;
    background-color: cyan;
}